# Format Style Options - Created with Clang Power Tools
---
AccessModifierOffset: -4
AllowShortBlocksOnASingleLine: Always
AllowShortLambdasOnASingleLine: All
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: WithoutElse
AlwaysBreakTemplateDeclarations: Yes
BasedOnStyle: Microsoft
BreakBeforeBraces: Allman
EmptyLineBeforeAccessModifier: Always
IncludeBlocks: Regroup
IndentCaseBlocks: true
IndentCaseLabels: true
IndentExternBlock: Indent
IndentGotoLabels: false
IndentWidth: 4
NamespaceIndentation: All
PointerAlignment: Left
SortIncludes: false
StatementAttributeLikeMacros: 
  - Q_UNUSED
  - QT_REQUIRE_VERSION
  - IC
  - ICF
StatementMacros: 
  - Q_UNUSED
  - QT_REQUIRE_VERSION
UseTab: ForContinuationAndIndentation
...
